body{
    background-color: beige;
    font-family: 'Times New Roman', Times, serif;
}
h1 , h2{
color: olive;
}
p{
    font-size: 18px;
}
.highlight{
    background-color: bisque;
    color:orchid;
    border-right: 4px;
}
#main-heading{
    color:black;
    text-align: center;
    font: bold;
}